---
layout: nil
---

{% assign root_path = '' %}
{% include head.html %}

<script type="text/javascript" src="javascripts/basic_example.js"></script>

<section id="main_content">
<p>
SilverTrack is a jQuery plugin designed to be extensible through other plugins. It has a small core and comes with very useful plugins
</p>

<h3>
  Getting Started
</h3>

<p>Let's setup a track with the navigator plugin. We will use a very simple markup, SilverTrack receives a container with your items, in our case, <strong>'.slider-container'</strong> and it leaves up to you to control the view port, so we will use <strong>'.view-port'</strong> to control de visibility. It also requires <strong>'position: absolute'</strong> of your items</p>

{% highlight html %}
<div class="track my-track">

  <!-- SilverTrack requires only this part -->
  <div class="view-port">
    <div class="slider-container">
      <div class="item"><img src="http://lorempixel.com/230/134/nature/1/"></div>
      <div class="item"><img src="http://lorempixel.com/230/134/nature/2/"></div>
      <!-- ... -->
    </div>
  </div>

  <!-- My custom navigator links -->
  <div class="pagination">
    <a href="#" class="prev disabled"></a>
    <a href="#" class="next disabled"></a>
  </div>

</div>
{% endhighlight %}

{% highlight css %}
.view-port {
  width: 946px;
  overflow: hidden;
  position: relative;
}
.slider-container {
  position: relative;
  height: 138px;
  margin: 0;
  padding: 0;
}
.item {
  position: absolute;
  width: 234px;
  height: 138px;
  margin-right: 8px
}
{% endhighlight %}

<p>
After the minimum markup and css we will create our track.
</p>

{% highlight js %}
var container = $(".my-track");
var track = container.find(".slider-container").silverTrack();

// install the plugins you want, in our case Navigator
track.install(new SilverTrack.Plugins.Navigator({
  prev: $("a.prev", container),
  next: $("a.next", container)
}));

track.start();
{% endhighlight %}

<p>
and it's done!
</p>

<div class="track my-track">
  <div class="view-port">
    <div class="slider-container">
      <div class="item"><img src="http://lorempixel.com/230/134/nature/1/"></div>
      <div class="item"><img src="http://lorempixel.com/230/134/nature/2/"></div>
      <div class="item"><img src="http://lorempixel.com/230/134/nature/3/"></div>
      <div class="item"><img src="http://lorempixel.com/230/134/nature/4/"></div>
      <div class="item"><img src="http://lorempixel.com/230/134/nature/5/"></div>
      <div class="item"><img src="http://lorempixel.com/230/134/nature/6/"></div>
      <div class="item"><img src="http://lorempixel.com/230/134/nature/7/"></div>
      <div class="item"><img src="http://lorempixel.com/230/134/nature/8/"></div>
      <div class="item"><img src="http://lorempixel.com/230/134/nature/9/"></div>
      <div class="item"><img src="http://lorempixel.com/230/134/nature/10/"></div>
    </div>
  </div>

  <div class="pagination">
    <a href="#" class="prev disabled"></a>
    <a href="#" class="next disabled"></a>
  </div>
</div>

<p>
actually we add some css for the pagination arrows...
</p>

</section>

{% include footer.html %}
