<nav class="menu">
  <ul>
    {% for post in site.categories.root %}
      <li{% if post.title == page.title %} class="current"{% endif %}><a href="{% if root_path != '' %}.{% endif %}.{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <h3>How To's:</h3>
  <ul>
    {% for post in site.categories.how_tos reversed %}
      <li{% if post.title == page.title %} class="current"{% endif %}><a href="{% if root_path != '' %}.{% endif %}.{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <h3>Built-in Plugins:</h3>
  <ul>
    {% for post in site.categories.plugins reversed %}
      <li{% if post.title == page.title %} class="current"{% endif %}><a href="{% if root_path != '' %}.{% endif %}.{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</nav>
