#main_content:after {
  content: "";
  display: table;
  clear: both;
}

.view-port {
  overflow: hidden;
  position: relative;
}

.view-port {
  width: 960px;
}

.track.vertical, .track.vertical2 {
  padding: 10px 10px 8px 10px;
}

.track.vertical, .track.vertical .view-port {
  width: 188px;
}

.track.vertical .view-port, .track.vertical .view-port .slider-container {
  height: 690px;
}

.track.vertical2 {
  float: left;
  margin-right: 40px;
}

.track.vertical2:last-child {
  margin-right: 0;
}

.track.vertical2, .track.vertical2 .view-port {
  width: 231px;
  height: 552px;
}

.track.vertical2 .view-port .slider-container {
  height: 552px;
}

.track-480 {
  width: 466px;
}

.track-480 .view-port  {
  width: 466px;
}

.slider-container {
  position: relative;
  height: 138px;
  margin: 0;
  padding: 0;
}

.item, .my-item {
  position: absolute;

  width: 234px;
  height: 138px;
  margin-right: 8px
}

.small-item {
  position: absolute;

  width: 188px;
  height: 138px;
  margin-right: 8px
}

.my-item.cover {
  width: 952px;
}

.my-item.cover .message {
  box-sizing: border-box;
  float: left;
  width: 230px;
  height: 134px;
  padding: 5px 16px 5px 10px;
}

.my-item.cover .message span {
  text-align: justify;
  display: inline-block;
}

.small-item.vertical-cover {
  height: 690px;
}

.small-item.vertical-cover .message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
}

.small-item.vertical-cover .message h2 {
  font-size: 26px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.track {
  position: relative;
  background-color: white;
  padding: 10px 2px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.track a.prev,
.track a.next {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -32px;
  width: 64px;
  height: 64px;
  background: url("../images/arrows.png");
  background-repeat: no-repeat;
}

.track.axis-y a.prev,
.track.axis-y a.next {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);

  left: 50%;
  margin-left: -32px;
}

.track.axis-y a.next {
  top: initial;
  bottom: 0;
}

.track.axis-y a.prev {
  top: 0;
  margin-top: 0;
}

.track a.prev.disabled,
.track a.next.disabled {
  display: none;
}

.track a.prev {
  left: 0;
  background-position: 0 0;
}

.track a.prev:hover {
  background-position: 0 -66px;
}

.track a.prev:active {
  background-position: 0 -132px;
}

.track a.next {
  right: 0;
  background-position: -64px 0;
}

.track a.next:hover {
  background-position: -64px -132px;
}

.track a.next:active {
  background-position: -64px -198px;
}
.bullet-pagination {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.bullet {
  display: inline-block;
  background: #999;
  padding: 4px;
  border-radius: 6px;
  margin-right: 5px;
  opacity: 0.4;

  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.bullet.active {
  opacity: 1;
}
