a.button {
  display: inline-block;
  float: none;
  text-align: left;
}

#downloads {
  text-align: center;
  margin: 40px 0;
}

header {
  text-align: center;
}

.plugin-description {
  font-size: 26px;
  margin: 80px 0;
}

.commands .button-group:last-child {
  margin-left: 0;
}

.console .info {
  width: 954px;
  font-size: 16px;
}

.go-to-page-field {
  border: 1px solid #F7F7F7;
  font-size: 12px;
  padding: 5px;
  width: 35px;
}

.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  text-align: center;
  line-height: 140px;
  padding: 4px 0;
  z-index: 1;
}

.loading:before {
  content: "loading... this could take some time, sorry it's just an example =]";
}
